/*Fondo Pantalla Pagina Index Responsive */
.backgroundHome{
    /* Ubicación de la imagen */
    background-image: url("../img/FondoHome.png");
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    padding:0;
    padding-top:50px;
    padding-bottom:50px;
    height:100vh;

}
/* Fondo pantalla salas responsive  */
.backgroundSalas{
    /* Ubicación de la imagen */
    background-image: url("../img/FondoSalas.png");
    background-position: 50% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    padding:0;
    padding-top:50px;
    padding-bottom:50px;
    height:100vh;
}

/* Estilo contenedor Formulario Principal */
.containerFormat{
    padding: 1.5rem;
    border-width: 1px;
    border-radius: .25rem;
    border-top-right-radius: .25rem;
}

/* Estilo titulo Formulario Principal */
.labelTitulo{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Estilo selección avatar Formulario Principal */
div.radio.radio-adjust{
    margin-left:50%;
}

/* Estilo Drag&DRop */
.wrapper {
    display: flex;
    justify-content: space-around;
    padding: 5.5rem;

}
.wrapper .box {
    background: #dde2e2;
    box-shadow: 0px 0px 20px;
    border: 1px solid black;
    width: 40%;
}
.wrapper .box ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
.wrapper .box ul li {
    padding: 10px;
    cursor: pointer;
}
.wrapper .box ul li:hover {
    background-color: #dde2e2;
}

/* Estilo titulo Salas */
.tituloSalas{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}
