.backgroundHome{
    /* Ubicación de la imagen */
    background-image: url("../img/FondoHome.png");
    background-position: 50% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    padding:0;
    padding-top:50px;
    padding-bottom:50px;
    height:100vh;
}

.backgroundSalas{
    /* Ubicación de la imagen */
    background-image: url("../img/FondoSalas.png");
    background-position: 50% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    padding:0;
    padding-top:50px;
    padding-bottom:50px;
    height:100vh;
}

.labelTitulo{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.containerFormat{
    padding: 1.5rem;
    border-width: 1px;
    border-radius: .25rem;
    border-top-right-radius: .25rem;
}

.tabla{
    margin-top: 100px;
}

    
div.radio.radio-adjust{
    margin-left:50%;
}


